@define-mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    :root:not([data-user-color-scheme]) {
      @mixin-content;
    }
  }

  [data-user-color-scheme='dark'] {
    @mixin-content;
  }
}

:root {
  --color-mode: 'light';
  --color-bg: #fbfbfd;
  --color-text: #1d1d1f;
  --color-selection-text: #fbfbfd;
  --color-selection-bg: #1d1d1f;
}

@mixin dark-mode {
  --color-mode: 'dark';
  --color-bg: #1d1d1f;
  --color-text: #fbfbfd;
  --color-selection-text: #1d1d1f;
  --color-selection-bg: #fbfbfd;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

::selection {
  color: var(--color-selection-text);
  background-color: var(--color-selection-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

h1 {
  @apply leading-relaxed text-4xl text-blue-800 font-bold;
}

h2 {
  @apply leading-relaxed text-3xl text-blue-600;
}

h3 {
  @apply leading-relaxed text-2xl text-blue-600;
}

h4 {
  @apply leading-relaxed text-xl text-blue-600;
}

h5 {
  @apply leading-relaxed text-lg text-blue-600;
}

@mixin dark-mode {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }
}

a {
  @apply relative text-blue-500 no-underline;
  background-image: linear-gradient(theme('colors.blue.400'), theme('colors.blue.800'));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 2s linear;
}

.icon {
  font-size: 1rem;
}

.icon svg {
  width: 1em;
  height: 1em;
}

.theme-toggle-btn {
  @apply flex items-center justify-center p-0;
  width: 2rem;
  height: 2rem;
}

.theme-toggle-btn svg {
  width: 1.2rem;
  height: 1.2rem;
}

code {
  @apply rounded inline-block border-gray-400 bg-gray-200 px-1;
}

@mixin dark-mode {
  code {
    @apply bg-gray-700 text-white;
  }
}
