{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{# Post list content #}
{% set postListItems = collections.posts %}

{% block content %}
  {% include "partials/components/intro.njk" %}
  {% include "partials/components/post-list.njk" %}
{% endblock %}
